<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Contacto</title>
</head>
<body >
    <header class="header">
        <nav class="header_navbar">
            <ul class="header_navbar_navbar_ul">
                <li class="header_navbar_navitem"><a class="header_navbar_navitem_navlink" href="../index.html">Inicio</a></li>
                <li class="header_navbar_navitem"><a class="header_navbar_navitem_navlink" href="contacto.html">Contacto</a></li>
                <li class="header_navbar_navitem"><a class="header_navbar_navitem_navlink"  href="acerca_de.html">Acerca de</a></li>
                <li class="header_navbar_navitem"><a class="header_navbar_navitem_navlink" href="recetas.html">Recetas</a></li>
                <li class="header_navbar_navitem"><a class="header_navbar_navitem_navlink" href="consejos.html">Consejos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Contacto</h1>

        <ul>
                <form action="" method="get" enctype="text/plain">    
                    <fieldset>
                        <legend>Información personal</legend>
                        <div> 
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre">
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email">
                        </div>
                        <div>
                            <label for="mensaje">Mensaje</label>
                            <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
                        </div>
                        <div>
                            <input type="submit" value="Enviar">
                        </div>
                    </fieldset>
                </form>
        </ul>

            <!--Footer-->
            
        <hr>
        <footer >
            <div class="footer">
                <nav class="footer_nav"> 
                    <il class="footer_nav_il"><a class="footer_nav_il_link" href= "/templates/contacto.html"  target="_blank">Contacto</a></il>                                    
                    <il class="footer_nav_il"><a class="footer_nav_il_link"  href= "/templates/acerca_de.html" target="_blank">Acerca de</a></il>
                </nav> 
            </div>
        </footer>
    </body>
</html>