<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/recetas.css">
    <title>Recetas</title>
</head>
    <body >
            <main>
                
                <header>
                    <nav  class="header_navbar">
                        <ul class="header_navbar_navbar_ul">
                            <li class="header_navbar_navitem"><a class="header_navbar_navitem_navlink" href="../index.html">Inicio</a></li>
                            <li class="header_navbar_navitem"><a class="header_navbar_navitem_navlink" href="contacto.html">Contacto</a></li>
                            <li class="header_navbar_navitem"><a class="header_navbar_navitem_navlink"  href="acerca_de.html">Acerca de</a></li>
                            <li class="header_navbar_navitem"><a class="header_navbar_navitem_navlink" href="recetas.html">Recetas</a></li>
                            <li class="header_navbar_navitem"><a class="header_navbar_navitem_navlink" href="consejos.html">Consejos</a></li>
                        </ul>
                    </nav>
                </header>

            <!--<section Recetas-->

            

                <section >
                    <h1>Recetas</h1>
                    <div class="recetas">
                        <article>
                                <h3>Receta 1</h3>
                                <img src="https://ep01.epimg.net/elcomidista/imagenes/2019/12/16/articulo/1576488881_432858_1576493179_noticia_normal.jpg" width="400" alt="Receta 1">
                                <ul>
                                    <li>
                                        <h3>Ingredientes</h3>
                                        <ul>
                                            <li>1 taza de leche</li>
                                            <li>1 taza de azúcar</li>
                                            <li>1 taza de harina</li>
                                            <li>1 taza de vainilla</li>
                                            <li>1 taza de cacao</li>
                                            <li>1 taza de chocolate</li>
                                            <li>1 taza de nueces</li>
                                            <li>1 taza de vainilla</li>
                                        </ul>
                                    </li>
                                </ul>
                        </article>

                        <article>
                                <h3>Receta 1</h3>
                                <img src="https://www.tuhogar.com/content/dam/cp-sites/home-care/tu-hogar/es_mx/recetas/comidas-faciles-y-rapidas/receta-de-cocina-para-ninos/pure-patata-cara-raton-destacado-axion.jpg" width="400" alt="Receta 2">
                                <ul>
                                    <li>
                                        <h3>Ingredientes</h3>
                                        <ul>
                                            <li>1 taza de leche</li>
                                            <li>1 taza de azúcar</li>
                                            <li>1 taza de harina</li>
                                            <li>1 taza de vainilla</li>
                                            <li>1 taza de cacao</li>
                                            <li>1 taza de chocolate</li>
                                            <li>1 taza de nueces</li>
                                            <li>1 taza de vainilla</li>
                                        </ul>
                                    </li>
                                </ul>
                        </article>
                    </div>
                </section>

                <aside>
                    <h3>Otras recetas</h3>
                    <ul>
                        <li><a href="#"> Receta 1</li></a>
                        <li><a href="#"> Receta 2</li></a>
                        <li><a href="#"> Receta 3</li></a>
                        <li><a href="#"> Receta 4</li></a>
                        <li><a href="#"> Receta 5</li></a>
                        <li><a href="#"> Receta 6</li></a>
                        <li><a href="#"> Receta 7</li></a>
                        <li><a href="#"> Receta 8</li></a>
                    </ul>
                </aside>

                    <!--Footer-->

                <footer >
                    <div class="footer">
                        <nav class="footer_nav"> 
                            <il class="footer_nav_il"><a class="footer_nav_il_link" href= "/templates/contacto.html"  target="_blank">Contacto</a></il>                                    
                            <il class="footer_nav_il"><a class="footer_nav_il_link"  href= "/templates/acerca_de.html" target="_blank">Acerca de</a></il>
                        </nav> 
                    </div>
                </footer>

            </main>

    </body>
</html>